<%= form_with(model: library, local: true) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :path %>
    <%= form.text_field :path, id: :library_path %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :library_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
