<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @library.path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
